[color]
        ui = auto
        diff = auto
        status = auto
        interactive = auto
        branch = auto

[alias]
	st = status
	co = checkout
	cim = commit -m
	dfcw = add -p
	lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	ss = stash save
	sp = stash pop
	
[merge]
	tool = opendiff
