[color]
        ui = auto
        diff = auto
        status = auto
        interactive = auto
        branch = auto

[alias]
	st = status
	co = checkout
	cim = commit -m
	dfcw = add -p
	lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	ss = stash save
	sp = stash pop
	pu = push -u
	cob = checkout -b
        cime = commit --allow-empty -m
        cimn = commit -n -m
        cp = cherry-pick
        lga = lg --author
        loga = log --author
        sync = pull origin	
[merge]
	tool = opendiff
[user]
	email = matias.traverso@gmail.com
	name = Matias Traverso
